# Include ~/.ssh/config.examples
Include ~/.ssh/config.private
Include ~/.ssh/config.work

Match final
  Port 22
  User root

  Protocol 2
  UseRoaming no

  ControlMaster auto
  ControlPath ~/.ssh/mux/%C
  ControlPersist 10m

  ConnectTimeout 10
  ServerAliveInterval 15
  ServerAliveCountMax 3

  AddKeysToAgent yes
  IdentitiesOnly yes
  HostbasedAuthentication no
  PasswordAuthentication no
  VisualHostKey yes

  ForwardAgent no
  ForwardX11 no
  ForwardX11Trusted no
